#journal-component{
    margin: auto;
    display: flex;
    justify-content: center;
    font-family: 'Manjari', sans-serif;
}

#title {
    text-align: center;
    font-family: 'Manjari', sans-serif;
    font-size: 50px;
}

#entry-button, #vibe-button {
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #FFFFFF;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family: 'Manjari', sans-serif;
    font-weight:300;
    color:#FFFFFF;
    text-align:center;
    transition: all 0.2s;
    width: 30%;
    background-color: transparent;
    font-size: xx-large;
    display: flex;
    justify-content: center;
    align-items: center;

  }

  #entry-button:hover, #vibe-button:hover{
    color:#000000;
    background-color:#FFFFFF;
    cursor: pointer;
  }

  #all-buttons {
      display: flex;
      justify-content: center;
      align-items: center;
  }

  #no-journal {
    font-family: 'Manjari', sans-serif;
    text-align: center;
  }