@import url('https://fonts.googleapis.com/css2?family=Manjari&family=Sonsie+One&display=swap');
.listed-vibes{
    text-align: center;
    width: 500px;
    padding: 10px;
    background-color: yellowgreen;
    margin-top: 7px;
    margin-bottom: 7px;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px;
    border: blue;
    font-family: 'Manjari', sans-serif;
    display: flex;
    justify-content: center;
    
}
